This quiz is "open Jupyter Notebook," meaning you can look in other Jupyter Notebooks that you have created. You can also reference notes you have taken by hand, if applicable. Additionally, you can reference the official Python documentation: https://docs.python.org/3/library/ or NumPy documentaion https://numpy.org/doc/stable/index.html. You _cannot_ search for answers on forums, blogs, etc. 

You should _not_ use for loops for any solution in this quiz. 

10 problems, 10 points each, total of 100 points.

In [1]:
import numpy as np

1. (10 points) Use NumPy functions to create the following array, using one line of code: 
```
arr1 = array([[[ 0,  1,  2,  3],
               [ 4,  5,  6,  7],
               [ 8,  9, 10, 11],
               [12, 13, 14, 15]],

              [[16, 17, 18, 19],
               [20, 21, 22, 23],
               [24, 25, 26, 27],
               [28, 29, 30, 31]],

              [[32, 33, 34, 35],
               [36, 37, 38, 39],
               [40, 41, 42, 43],
               [44, 45, 46, 47]],

              [[48, 49, 50, 51],
               [52, 53, 54, 55],
               [56, 57, 58, 59],
               [60, 61, 62, 63]]])
```

2. (10 points) Using array `arr1` from problem 1, index/slice into it (using one line of code) to produce the following:

2a. (3 points)

```array([[33, 34],
          [37, 38],
          [41, 42],
          [45, 46]]) ```

2b. (3 points)
<code>
array([[[26, 27],
        [30, 31]], 
</code>
<code>
       [[42, 43],
        [46, 47]]])
</code>

2c. (4 points)
<code>
array([[[ 7,  6,  5,  4],
        [ 3,  2,  1,  0]],
</code>
<code>
       [[23, 22, 21, 20],
        [19, 18, 17, 16]],
</code>
<code>
       [[39, 38, 37, 36],
        [35, 34, 33, 32]]])
</code>

3. (10 points) Create a shape-(24,) array named `arr2`.

How many ways can it be reshaped into a 3-dimensional array (without using `1` as one of the dimensions)?  List each way.

4.  (10 points) We went over this way to creat an array in class: `np.array([[[0]*4]*3]*2)`

4a. (3 points) Use this approach to create a shape-(3,2,5) array filled with 1s.

4b. (2 points) Use the ones function to create the same shaped array.

4c. (3 points) What is the difference between the two arrays? (Explain)

4d. (2 points) Show one way you could make them each have the same data type.

5a. (1 point) Create an array named `arr3` with shape-(5,4), filled with random numbers based on a uniform distribution (values range from 0 to 1).

5b. (1 point) Square each element in the top row of the array.

5c. (2 points) Take the square root of each element in the final column in the array.

5d. (2 points) Add 1 to each element in the the middle row

5e. (2 points) Sum all of the entries of the array to produce one value. Use a NumPy function, not for loops!

5f. (2 points) Sum over all of the rows to produce one value per column. Use a NumPy function, not for loops!

6. (10 points) Use the following two arrays:

In [35]:
x = np.array([[ 11,   6,   3],
                 [ -9,   2,  17],
                 [  8,   0,   1]])

y = np.array([[  1,   0,  7],
                 [ -4,  -1,  4],
                 [-10,  15, 19]])

6a. (5 points) Add column-1 of `x` and row-0 of `y`

6b. (5 points) Take the mean average of row 2 of `x` and multiply it by the maximum value in column 0 of `y`

7. (10 points) Given the array `arr4` depicting scores that 8 manufactured parts received on 5 criteria (for example: straightness, flatness, concentricity, perpendicularity, parallelism):

In [36]:
arr4 = np.array([[0.95, 0.84, 0.71, 0.60, 0.63],
       [0.93, 0.77, 0.87, 0.75, 0.83],
       [0.74, 0.79, 0.99, 0.70, 0.85],
       [0.67, 0.66, 0.63, 0.98, 0.64],
       [0.92, 0.92, 0.79, 0.89, 0.82],
       [0.63, 0.81, 0.95, 0.78, 0.88],
       [0.90, 0.74, 0.85, 0.88, 0.9 ],
       [0.94, 0.78, 0.86, 0.97, 0.91]])

7a. (3 points) Compute the mean score for each part (rounded to 2 decimal places). No for loops!

7b. (4 points) A part must achieve a mean score of 0.80 to pass. However, if any individual criteria score is less than 0.70, then that criteria fails and the score for that criteria must be set to zero; and then the mean is calculated again. Set all individual criteria scores that are less than 0.70 to 0.00 (without using for loops).

7c. (3 points) Compute the means for each part again. How many parts now pass (having a score >= 0.80)?

8. (10 points) Given the two arrays `a` and `b` below, use the `reshape` function to allow them to be multiplied together and to produce a shape-(4, 5) array.

In [44]:
a = np.array([1, 2, 3, 4])
b = np.array([4, 5, 6, 7, 8])

9. (10 points) In class, we looked at the following example of combining basic and advanced indexing using a Boolean Index-Array: 

<code>
x = np.array([[[ 0,  1,  2,  3],
               [ 4,  5,  6,  7],
               [ 8,  9, 10, 11]],

              [[12, 13, 14, 15],
               [16, 17, 18, 19],
               [20, 21, 22, 23]]])

ind0 = np.array([True, False])
</code>

Select sheet-0, all rows, last column: 
<code>
x[ind0, :, -1]
</code>

Which produced: 
`array([[ 3,  7, 11]])`

Using the following array `z`, come up with a Boolean Index Array and apply it to `z` to return only the diagonal values.

In [46]:
z = np.array([[[ 0,  1,  2,  3],
               [ 4,  5,  6,  7],
               [ 8,  9, 10, 11],
               [ 12, 13, 14, 15]
               ],

              [
               [16, 17, 18, 19],
               [20, 21, 22, 23], 
               [24, 25, 26, 27],
               [28, 29, 30, 31]]])

10. (10 points)

10a. (3 points) Given the array `z` from problem 9 above, create an index array called `rows` and another called `cols` and combine basic and advanced indexing by applying `rows` and `cols` to `z` to produce the corner elements of the array `z`.

10b. (2 points) Set the corner elements in `z` to the value of `99`.

10c. (3 points) Use a one-line logic statement to create a boolean index array called `mask` where `True` represents the position of even-numbered elements.

10d. (2 points) Use the `mask` array created in 10c to set all `True` positions to `0`.